
::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background-color: var(--fill-content-hover);
}

::-webkit-scrollbar-track:hover {
  background-color: var(--fill-content-hover);
}

@mixin hidden-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none; // For Firefox
}

@mixin hidden-scrollbar-style {
  ::-webkit-scrollbar, &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &:hover {

    &::-webkit-scrollbar-thumb, & *::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: transparent;
    }
  }
}

@mixin scrollbar-style {
  ::-webkit-scrollbar, &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &:hover {

    &::-webkit-scrollbar-thumb, & *::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--fill-content-hover);
    }
  }
}