:root[data-dark-mode='true'] {
    --bg-selection: #2383e247;
    --text-title: #e2e9f2;
    --text-caption: #87a0bf;
    --text-placeholder: #6f748c;
    --text-link-default: #00bcf0;
    --text-link-hover: #52d1f4;
    --text-link-pressed: #009fd1;
    --text-link-disabled: #005174;
    --icon-primary: #e2e9f2;
    --icon-secondary: #59647a;
    --icon-disabled: #525a69;
    --icon-on-toolbar: white;
    --line-border: #59647a;
    --line-divider: #384967;
    --line-default: #2e2e2e;
    --line-on-toolbar: #99a6b8;
    --line-card: #384967;
    --fill-default: #00bcf0;
    --fill-hover: #005174;
    --fill-toolbar: #0f111c;
    --fill-selector: #232b38;
    --fill-list-active: #3c4557;
    --fill-list-hover: #2b394c;
    --content-blue-400: #00bcf0;
    --content-blue-300: #52d1f4;
    --content-blue-600: #009fd1;
    --content-blue-100: #005174;
    --content-blue-200: #49cff480;
    --content-blue-50: #024562;
    --content-blue-700: #0079a5;
    --content-blue-800: #00597a;
    --content-blue-900: #003d4d;
    --content-on-fill: #1a202c;
    --content-on-tag: #99a6b8;

    --bg-body: #1a202c;
    --bg-base: #232b38;
    --bg-mask: #000000b2;
    --bg-tips: #005174;
    --bg-brand: #2c144b;
    --function-error: #d32772;
    --function-error-hover: #d36f8b;
    --function-error-opacity: rgba(211, 39, 114, 0.1);
    --function-warning: #e9b320;
    --function-warning-hover: #e9c94b;
    --function-warning-opacity: rgba(233, 179, 32, 0.1);
    --function-success: #3ba856;
    --function-success-hover: #5dbb7a;
    --function-success-opacity: rgba(59, 168, 86, 0.1);
    --function-info: #2e9dbb;
    --tint-red: #c42a534d;
    --badge-red: #c42a53;
    --tint-green: #23ca2e4d;
    --badge-green: #23ca2e;
    --tint-purple: #502fd64d;
    --badge-purple: #502fd6;
    --tint-blue: #04a9d74d;
    --badge-blue: #04a9d7;
    --tint-yellow: #c59a1a4d;
    --badge-yellow: #c59a1a;
    --tint-pink: #bf1cc04d;
    --badge-pink: #bf1cc0;
    --tint-lime: #a4c8244d;
    --badge-lime: #a4c824;
    --tint-aqua: #19ccac4d;
    --badge-aqua: #19ccac;
    --tint-orange: #d779224d;
    --badge-orange: #d77922;
    --shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    --scrollbar-track: #252f41;
    --scrollbar-thumb: #3c4557;
    --gradient1: linear-gradient(233deg, #34bdaf 0%, #b682d5 100%);
    --gradient2: linear-gradient(180deg, #4cc2cc 0%, #e17570 100%);
    --gradient3: linear-gradient(180deg, #af70e1 0%, #ed7196 100%);
    --gradient4: linear-gradient(180deg, #a348d6 0%, #45a7df 100%);
    --gradient5: linear-gradient(56.2deg, #5749ca 0%, #bb4a97 100%);
    --gradient6: linear-gradient(180deg, #036ffa 0%, #00b8e5 100%);
    --gradient7: linear-gradient(38.2deg, #f0c6cf 0%, #decce2 40.4754%, #cad3f9 100%);
    --new-gradient1: linear-gradient(180deg, #6dd5ff 0%, #d0a2ff 100%);
    --new-gradient2: linear-gradient(180deg, #d0a2ff 0%, #ff84bf 100%);
    --new-gradient3: linear-gradient(180deg, #ff84bf 0%, #ffdd7b 100%);
    --new-gradient4: linear-gradient(180deg, #ffdd7b 0%, #87ffab 100%);
    --new-gradient5: linear-gradient(180deg, #89d7fe 0%, #7a81ff 100%);
    --new-gradient6: linear-gradient(180deg, #00b5ff 0%, #9225ff 100%);
    --new-gradient7: linear-gradient(180deg, #9327ff 0%, #e7348a 100%);
    --new-gradient8: linear-gradient(180deg, #e3006d 0%, #ffbd00 100%);
    --new-gradient9: linear-gradient(180deg, #ffbd00 0%, #00bc38 100%);
    --new-gradient10: linear-gradient(180deg, #1cf8e3 0%, #4b32fe 100%);
    --bg-header: #1a202ccc;
    --bg-footer: #00000000;
    --note-header: #232b38;
    --billing-primary: #601daa;
    --billing-primary-hover: #7a2ebf;
    --ai-primary: #d08eed;
    --writer-placeholder: #49cff4;
    --background: 220 26% 14%;
    --foreground: 0 0% 98%;
    --input-background: #1b1a22;
    --card: 220 26% 14%;
    --card-foreground: 0 0% 98%;
    --tooltip: 231 30% 8%;
    --tooltip-foreground: 0 0% 98%;
    --popover: 220 26% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 193 100% 47%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-background: #23242f;
    --secondary-foreground: 234, 11%, 64%;
    --muted: 214.55 27.73% 23.33%;
    --muted-foreground: 240 5% 64.9%;
    --placeholder: 234, 15%, 28%;
    --accent: 215 28% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 334, 100%, 49%;
    --destructive-foreground: 0 0% 98%;
    --success: 120 100% 50%;
    --border: 214, 38%, 92%, 0.06;
    --input: 214, 38%, 92%, 0.06;
    --ring: 193 100% 47%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --icon: 214, 7%, 43%;
    --selection: #005174;
    --scrollbar-thumb: #4b5563;
    --button-disabled: 213, 9%, 76%;
    --shadows-sm: 0px 2px 16px 0px rgba(0, 0, 0, 0.48);
    --shadows-md: 0px 4px 32px 0px rgba(0, 0, 0, 0.48);
}
